<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse light" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>
        <nav class="navbar bg-body-white ms-auto">
            <div class="container-fluid">
              <form action="/listings/find" method="post" class="d-flex" role="search" >
                <input class="form-control me-2 " id="text-input" type="search" placeholder="Search Locations" aria-label="Search" name="find">
                <button class="btn " id="btn-search" type="submit"><i class="fa-brands fa-searchengin"></i>Search</button>
              </form>
            </div>
          </nav>
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listings/new">Add new listings</a>
        <% if(!currUser){ %>
            <a class="nav-link" href="http://localhost:3000/signup"><b>SignUp</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
            <% } %>
            <% if(currUser){ %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
        </div>
      </div>
    </div>
</nav>